<h2 mat-dialog-title>{{ data ? 'Edit Team' : 'Create Team' }}</h2>
<mat-dialog-content>
  <form [formGroup]="teamsForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
      @if (teamsForm.get('name')?.invalid && teamsForm.get('name')?.touched) {
        <mat-error>Name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" required>
      @if (teamsForm.get('country')?.invalid && teamsForm.get('country')?.touched) {
        <mat-error>Valid year is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Championship ID</mat-label>
      <input matInput formControlName="championshipId" required>
      @if (teamsForm.get('championshipId')?.invalid && teamsForm.get('championshipId')?.touched) {
        <mat-error>A valid ID is required</mat-error>
      }
    </mat-form-field>
    
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="teamsForm.invalid">
    {{ data ? 'Update' : 'Create' }}
  </button>
</mat-dialog-actions>
